body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: var(--main-color);
}
:root {
  --black-color: #2e2f42;
  --white-color: #ffffff;
  --ocean-blue: #404bbf;
  --milk-color: f4f4fd;
  --sky-blue: #4d5ae5;
  --main-color: #434455;
}
.studio-header {
  color: var(--black-color);
}
.list {
  list-style-type: none;
}
.web-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
}
.link :hover {
  color: #404bbf;
}
.link :focus {
  color: #404bbf;
}
.studio-footer {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #f4f4fd;
}
.link {
  text-decoration: none;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  margin-left: 156px;
  margin-top: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--sky-blue);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--milk-color);
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 156px;
  margin-top: 24px;
  color: var(--sky-blue);
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.button-style {
  background: var(--sky-blue);
}
.button-text-style {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--white-color);
}
h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var();
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-color);
}
.background-top {
  background: var(--black-color);
}
.background-bottom {
  background: var(--black-color);
}
.text-bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--milk-color);
}

.team-bgd {
  background: var(--milk-color);
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--milk-color);
  color: var(--sky-blue);
  cursor: pointer;
}
button :hover {
  background-color: var(--ocean-blue);
  color: var(--white-color);
}
button :focus {
  background-color: var(--ocean-blue);
  color: var(--white-color);
}
.title-h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
